.container-fluid
	.row
		.col-md-4.offset-md-3.mt-5
			%h2 Terms & Conditions
	.row		
		.col-md-6.offset-md-3.mt-4
			%p All users must have consent from their message recipient(s) in order to send messages using the service. This releases all liability from PING.