// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { height: 100%; }

// main page hero-image section
.hero-image {
	height: 700px;
	background-size: cover;
	color: #ffffff;
	
	

	// creates active class which will introduce fade effect for various images in background image function
	.active {
		animation: fade 5s;
	}

	@keyframes fade {
		from { opacity: 0; }
		to { opacity: 1; }
	}


	.hero-overlay {
		background-color: crimson;
    height: 100%;
    
    
    opacity: 0.4;
    // with position: absolute, this overlay div won't be in the flow of the page.
    position: absolute;
	}

	.hero-text-overlay {
		text-align: center;
		margin-top: 4.875rem;
		position: absolute;
		
		h1 {
			font-size: 3.5rem;
		}

		button {
			margin-top: 1rem;
			padding: 1rem;
		}
	}

}

#groupModalBody {
	max-height: 70vh;
	min-height: 20rem;
	padding: 0 1rem;

	.group-contact-list {
		max-height: inherit;
		min-height: inherit;

		.add-icon { color: green }
		.remove-icon { color: red }
		.col-md-6,.col-sm-6 {
			min-height: inherit;
	    max-height: 60vh;
	    overflow-y: scroll;
		}
	}
}

.description {
	.row {
		color: hsl(360, 65%, 45%);
		height: 500px;
		p { color: #000; }
	}

	.image {
		text-align: center;
		padding: 10% 0;
		color: #000;
		// &:hover {
		// 	transform: scale(1.1,1.1);
		// }
	}

	.text {
		padding: 12% 0;

	}
}


// main dashboard page
.dashboard {
	height: 93vh;

	.table {
		height: inherit;

		tbody {
			overflow-y: scroll;
		}
	}

	.popover-content {
		display: none;
	}

	.speech-bubble {
		position: relative;
		background: #5fbb04;
		border-radius: .4em;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 1.094em solid transparent;
		border-right-color: #5fbb04;
		border-left: 0;
		border-top: 0;
		margin-top: -0.547em;
		margin-left: -1.094em;
	}

	#message-list {
		
	}



	// .example-enter {
	//   opacity: 0.01;
	// }

	// .example-enter.example-enter-active {
	//   opacity: 1;
	//   transition: opacity 5000ms ease-in;
	// }

	// .example-leave {
	//   opacity: 1;
	// }

	// .example-leave.example-leave-active {
	//   opacity: 0.01;
	//   transition: opacity 5000ms ease-in;
	// }

	// .example-appear {
	//   opacity: 0.01;
	// }

	// .example-appear.example-appear-active {
	//   opacity: 1;
	//   transition: opacity 1s ease-in;
	// }


	* { box-sizing: border-box; }
	body {
	  font: 16px Arial; 
	}
	
	.react-autosuggest__container {
	  position: relative;
	}

	.react-autosuggest__input {
	  width: 100%;
	  height: 30px;
	  padding: 10px 20px;
	  font-family: Helvetica, sans-serif;
	  font-weight: 300;
	  font-size: 16px;
	  border: 1px solid #aaa;
	  border-radius: 4px;
	}

	.react-autosuggest__input--focused {
	  outline: none;
	}

	.react-autosuggest__input--open {
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	.react-autosuggest__suggestions-container {
	  display: none;
	}

	.react-autosuggest__suggestions-container--open {
	  display: block;
	  position: absolute;
	  top: 51px;
	  width: 280px;
	  border: 1px solid #aaa;
	  background-color: #fff;
	  font-family: Helvetica, sans-serif;
	  font-weight: 300;
	  font-size: 16px;
	  border-bottom-left-radius: 4px;
	  border-bottom-right-radius: 4px;
	  z-index: 2;
	}

	.react-autosuggest__suggestions-list {
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	}

	.react-autosuggest__suggestion {
	  cursor: pointer;
	  padding: 10px 20px;
	}

	.react-autosuggest__suggestion--highlighted {
	  background-color: #ddd;
	}
}