// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { height: 100%; }

// main page hero-image section
.hero-image {
	height: 700px;
	background-size: cover;
	color: #ffffff;
	

	// creates active class which will introduce fade effect for various images in background image function
	.active {
		animation: fade 5s;
	}

	@keyframes fade {
		from { opacity: 0; }
		to { opacity: 1; }
	}


	.hero-overlay {
		background-color: crimson;
    height: 100%;
    width: 85%;
    margin-left: -15px;
    opacity: 0.4;
    // with position: absolute, this overlay div won't be in the flow of the page.
    position: absolute;
	}

	.wrapper {
		width: 85%;
		margin-left: -15px;
	}
}

.hero-break {
	height: 50px;
	background-color: crimson;
}



// main dashboard page
.dashboard {
	height: 100vh;


	// .example-enter {
	//   opacity: 0.01;
	// }

	// .example-enter.example-enter-active {
	//   opacity: 1;
	//   transition: opacity 5000ms ease-in;
	// }

	// .example-leave {
	//   opacity: 1;
	// }

	// .example-leave.example-leave-active {
	//   opacity: 0.01;
	//   transition: opacity 5000ms ease-in;
	// }

	// .example-appear {
	//   opacity: 0.01;
	// }

	// .example-appear.example-appear-active {
	//   opacity: 1;
	//   transition: opacity 1s ease-in;
	// }


	* { box-sizing: border-box; }
	body {
	  font: 16px Arial; 
	}
	.autocomplete {
	  /*the container must be positioned relative:*/
	  position: relative;
	  display: inline-block;
	}

	.autocomplete-items {
	  position: absolute;
	  border: 1px solid #d4d4d4;
	  border-bottom: none;
	  border-top: none;
	  z-index: 99;
	  /*position the autocomplete items to be the same width as the container:*/
	  top: 100%;
	  left: 0;
	  right: 0;
	  margin: 0px 15px;
	}
	.autocomplete-items div {
	  padding: 10px;
	  cursor: pointer;
	  background-color: #fff; 
	  border-bottom: 1px solid #d4d4d4; 
	}
	.autocomplete-items div:hover {
	  /*when hovering an item:*/
	  background-color: #e9e9e9; 
	}
	.autocomplete-active {
	  /*when navigating through the items using the arrow keys:*/
	  background-color: DodgerBlue !important; 
	  color: #ffffff; 
	}
}